.side-navbar-wrapper {
  position: sticky !important;
  top: 25px;
  z-index: 1000 !important;
  height: 100%;
}

.side-navbar-wrapper .card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border: none;
  min-height: 30rem;
  padding: 2rem;
}

.side-navbar-wrapper .list-group-item {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-left: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
  border-top: 0px !important;
  padding: 1.5rem;
}

.side-navbar-wrapper .active {
  background-color: #1c1d1cdb;
  border: none;
  /* background-color: #0071ae; */
  /* background-color: #9e3500; */
  font-weight: 500;
}

.side-navbar-wrapper .icon-wrapper i {
  width: 1rem !important;
}
