.favourite-wrapper {
  height: 100%;
  min-height: calc(100vh - 70px);
  margin-top: 1.2rem;
}

.favourite-wrapper .breadcrumb-item:first-child {
  text-decoration: none;
  color: #00000084;
}

.favourite-wrapper .card-wrapper {
  position: relative;
}

.favourite-wrapper .remove-from-favourite {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #00000096;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
}

.favourite-wrapper .remove-from-favourite:hover {
  background-color: #000000;
  color: #ffffff;
}

.favourite-wrapper .favourite-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 33vh);
}

.favourite-wrapper .favourite-icon {
  width: 5rem;
  margin-bottom: 1.5rem;
}

.favourite-wrapper .favourite-empty .text {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.favourite-wrapper .favourite-empty .sub-text {
  letter-spacing: 0.5px;
}

.favourite-wrapper .favourite-empty .btn-browse {
  background-color: #0071ae;
  color: #ffffff;
  border-radius: 50px;
  margin-top: 1.5rem;
  font-weight: 500;
}
