.addresses-wrapper {
  height: 100%;
  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: var(--canvasColor);
}

.addresses-wrapper .breadcrumb-item {
  text-decoration: none;
  color: #000000;
}

.addresses-wrapper .breadcrumb-item:first-child {
  text-decoration: none;
  color: #00000084;
}

.addresses-wrapper .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.addresses-wrapper .card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border: none;
  min-height: 36.4rem;
  padding: 2rem;
}

.addresses-wrapper .address-box {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 1rem;
}

.addresses-wrapper .address-type {
  font-weight: 600;
}

.addresses-wrapper .btn-add {
  font-weight: 500;
}

.addresses-wrapper .bin-icon {
  cursor: pointer;
}

.addresses-wrapper .addresses-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(36.4rem - 11rem);
}

.addresses-wrapper .addresses-empty .title {
  font-size: 1.2rem;
}
