.admin-products-wrapper {
  height: 100%;
  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  background-color: var(--canvasColor);
}

.admin-products-wrapper .breadcrumb-item {
  text-decoration: none;
  color: #000000;
}

.admin-products-wrapper .breadcrumb-item:first-child {
  text-decoration: none;
  color: #00000084;
}

.admin-products-wrapper th {
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.admin-products-wrapper td {
  padding: 2rem;
  text-align: center;
}

.admin-products-wrapper .table {
  width: 100%;
}

.admin-products-wrapper .product-image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 5px;
}

.admin-products-wrapper .product-title {
  font-weight: 500;
}

.admin-products-wrapper .create-product {
  font-weight: 500;
  text-transform: capitalize;
  transform: translateY(-0.55rem);
}

.admin-products-wrapper .form-label {
  font-weight: 500;
}

.admin-products-wrapper .form-control {
  border: 1px solid #000000;
}
