.admin-products-wrapper {
  height: 100%;
  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  background-color: var(--canvasColor);
}

.admin-products-wrapper .breadcrumb-item {
  text-decoration: none;
  color: #000000;
}

.admin-products-wrapper .breadcrumb-item:first-child {
  text-decoration: none;
  color: #00000084;
}

.admin-products-wrapper th {
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.admin-products-wrapper td {
  padding: 2rem;
  text-align: center;
}

.admin-products-wrapper .product-image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 5px;
}

.admin-products-wrapper .product-title {
  font-weight: 500;
}

.admin-products-wrapper .create-product {
  font-weight: 500;
  text-transform: capitalize;
  transform: translateY(-0.55rem);
}

.admin-products-wrapper .form-label {
  font-weight: 500;
}

.admin-products-wrapper .form-control {
  border: 1.5px solid #000000;
}

.admin-products-wrapper .action-button {
  cursor: pointer;
  font-size: 1.2rem;
}

.admin-products-wrapper .product-status {
  border-radius: 5px;
  min-width: 7rem;
  height: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.admin-products-wrapper .product-status-published {
  background-color: #c5f0da;
  color: #207e51;
}

.admin-products-wrapper .product-status-draft {
  background-color: #dfe2e6;
  color: #32373f;
}

@media (max-width: 767px) {
  /* Styles for mobile devices */
  .admin-products-wrapper .product-title-wrapper {
    min-width: 15rem !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
}
