.footer-wrapper {
  /* background-color: #070606; */
  margin-top: 4rem;
}

.footer-wrapper .footer-inner {
  border-top: 2px solid #f3f3f4;
  padding: 3rem;
}

.footer-wrapper .heading {
  text-transform: capitalize;
  font-weight: 500;
  /* color: #ffffff; */
  letter-spacing: 1px;
  line-height: 2.5rem;
}

.footer-wrapper .brand {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  /* color: #ffffff; */
}

.footer-wrapper .description {
  font-weight: 500;
  color: #000000;
}

.footer-wrapper ul {
  list-style: none;
  padding-left: 0;
}

.footer-wrapper .copy-right {
  color: #515968;
}

.footer-wrapper ul li {
  /* color: #c7c9d0; */
  line-height: 2.5rem;
  font-weight: 400;
  color: #515968;
  cursor: pointer;
}

.footer-wrapper .payment-card-img {
  width: 100%;
  height: 100%;
  background-color: #ffffffe5;
  padding: 5px;
  border-radius: 5px;
  object-fit: cover;
}

.footer-wrapper .payment-cards {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.footer-wrapper .payment-cards .card-wrapper {
  /* width: 40px;
  height: 25px !important; */
  margin: 5px;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  /* Styles for mobile devices */
  .footer-wrapper .heading {
    font-weight: 700;
    margin-top: 1rem;
  }

  .footer-wrapper .brand {
    font-weight: 600;
  }

  .footer-wrapper .payment-cards {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
}
