.footer-wrapper {
  padding: 2rem;
  /* background-color: #eef1f3; */
  background-color: #070606;
}

.footer-wrapper .heading {
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
}

.footer-wrapper .brand {
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
}

.footer-wrapper .description {
  color: #b9b9b9;
}

.footer-wrapper ul {
  list-style: none;
  padding-left: 0;
}

.footer-wrapper ul li {
  margin-top: 0.5rem;
  color: #b9b9b9;
}

.footer-wrapper .payment-card-img {
  width: 100%;
  height: 100%;
  background-color: #ffffffe5;
  padding: 5px;
  border-radius: 5px;
  object-fit: cover;
}

.footer-wrapper .payment-cards {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.footer-wrapper .payment-cards .card-wrapper {
  width: 50px;
  height: 30px !important;
  margin: 5px;
}
