.password-change-wrapper {
  height: 100%;
  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.password-change-wrapper .breadcrumb-item {
  text-decoration: none;
  color: #000000;
}

.password-change-wrapper .breadcrumb-item:first-child {
  text-decoration: none;
  color: #00000084;
}

.password-change-wrapper .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.password-change-wrapper .card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border: none;
  min-height: 36.4rem;
  padding: 2rem;
}

.password-change-wrapper .card-body-custom {
  margin-top: 2rem;
}

.password-change-wrapper .form-label {
  font-weight: 500;
}

.password-change-wrapper .form-control {
  border: 1px solid #000000;
}

.password-change-wrapper .btn-save {
  background-color: #0071ae;
  font-weight: 500;
}
