.order-wrapper {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  height: 100%;
  min-height: calc(100vh - 70px);
}

.order-wrapper .breadcrumb-item {
  text-decoration: none;
  color: #000000;
}

.order-wrapper .breadcrumb-item:first-child {
  text-decoration: none;
  color: #00000084;
}

.order-wrapper .card {
  padding: 2rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border: none;
  min-height: 30rem;
}

.order-wrapper .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.order-wrapper .summary {
  position: sticky;
  top: 25px;
  z-index: 999;
  height: 10px;
}

.order-wrapper .summary .title {
  margin-bottom: 40px;
}

.order-wrapper .summary .summary-row {
  margin-bottom: 10px;
  line-height: 25px;
}

.order-wrapper .summary-total {
  font-weight: 600 !important;
  line-height: 45px;
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
}

.order-wrapper .product-title {
  font-weight: 500;
}

.order-wrapper .product-id,
.order-wrapper .product-price {
  color: #888787;
}

.order-wrapper .size-select {
  width: 115px;
  margin-top: 8px;
}

.order-wrapper .product-img img {
  width: 122px;
  height: 122px !important;
  border-radius: 5px;
  object-fit: cover;
}

.order-wrapper .product-store {
  color: #9e3500;
}

.order-wrapper .product-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 135px;
}

.order-wrapper tbody td {
  height: 170px;
  padding-bottom: 25px;
}

.order-wrapper .form-select {
  /* border-color: #000000; */
  border: none;
  margin-top: 5px;
}

.order-wrapper .message {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}
