.home-wrapper {
  height: 100%;
  min-height: calc(100vh - 70px);
  /* background-color: var(--canvasColor); */
}

.home-wrapper .img-banner {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 70px);
  object-fit: cover;
}

.home-wrapper .video-banner {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 70px);
  object-fit: cover;
}

.home-wrapper .banner-container {
  position: relative;
  color: white;
}

.home-wrapper .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-wrapper .banner-arrow {
  position: absolute;
  top: 20px;
  right: 70px;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

.home-wrapper .banner-content .title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 3.5rem;
  font-family: var(--font-baskerville);
}

.home-wrapper .banner-content .subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 2rem;
  max-width: 40%;
}

.home-wrapper .buttons .btn {
  text-transform: capitalize;
  border-radius: 5px !important;
}

.home-wrapper .featured-products {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--canvasColor);
}

.home-wrapper .featured-products .featured-products-title {
  font-size: 3rem;
  font-weight: 500;
  width: 20rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  line-height: 3.5rem;
  font-family: var(--font-baskerville);
}

.home-wrapper .featured-products .featured-products-sub-title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.home-wrapper .the-essentials {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-wrapper .the-essentials .the-essentials-title {
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-baskerville);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.home-wrapper .the-essentials .img-wrapper {
  position: relative;
  border-radius: 5px !important;
}

.home-wrapper .the-essentials .img-wrapper img {
  border-radius: 5px !important;
}

.home-wrapper .the-essentials .img-wrapper .content {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  line-height: 2.5rem;
  border-radius: 0px 0px 5px 5px;
}

.home-wrapper .the-essentials .img-wrapper .title {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home-wrapper .the-essentials .img-wrapper .subtitle {
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
}

.home-wrapper .the-essentials .img-wrapper .btn {
  font-size: 15px;
  font-weight: 400;
  width: 120px;
}

.home-wrapper .stories {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  line-height: 2rem;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--canvasColor);
}

.home-wrapper .stories .title {
  font-size: 2.7rem;
  height: 8rem;
  font-weight: 500;
  font-family: var(--font-baskerville);
  text-transform: capitalize;
  line-height: 4rem;
  /* letter-spacing: 2px; */
}

.home-wrapper .stories .description {
  font-size: 1.2rem;
}

.home-wrapper .membership {
  background-color: #1c1d1c;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-wrapper .membership .title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  color: White;
}

.home-wrapper .membership .btn {
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 50px !important;
}

@media (max-width: 767px) {
  /* Styles for mobile devices */
  .home-wrapper .img-banner {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 70px);
    object-fit: cover;
  }

  .home-wrapper .banner-arrow {
    position: absolute;
    top: 1rem;
    right: 3vw;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .home-wrapper .banner-arrow .arrow-icon {
    width: 1.3rem !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .home-wrapper .btn-group .btn-light {
    width: 2.5rem;
    height: 2rem;
  }

  .home-wrapper .banner-content .title {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .home-wrapper .banner-content .subtitle {
    max-width: 100%;
  }

  .home-wrapper .featured-products .featured-products-title {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
  }

  .home-wrapper .featured-products .featured-products-sub-title {
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  .home-wrapper .featured-products .btn-learn-more-wrapper {
    margin-bottom: 3rem;
    text-align: center;
  }

  .home-wrapper .the-essentials {
    margin: 0px;
  }

  .home-wrapper .the-essentials .the-essentials-title {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
  }

  .home-wrapper .the-essentials .img-wrapper {
    border-radius: 5px !important;
    margin-bottom: 1rem;
  }

  .home-wrapper .stories {
    margin: 0px;
  }

  .home-wrapper .stories-container {
    margin-bottom: 1rem;
  }

  .home-wrapper .stories .title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    height: unset;
  }

  .home-wrapper .membership {
    flex-direction: column;
    padding: 2rem;
  }

  .home-wrapper .membership .title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .home-wrapper .membership .btn {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    width: 100%;
    margin-left: 0px !important;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
}
