.productcard-wrapper .card {
  min-height: 470px !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.productcard-wrapper .tag {
  background-color: #dddddd6e;
  padding: 7px;
  border-radius: 5px;
}

.productcard-wrapper .title,
.productcard-wrapper .category,
.productcard-wrapper .price {
  text-transform: capitalize !important;
  font-size: 1rem;
  font-weight: 500 !important;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}

.productcard-wrapper .price {
  margin-top: 0.5rem;
}

.productcard-wrapper .category {
  font-size: 0.8rem;
  /* color: #777777; */
  color: #9e3500;
  font-weight: 500;
}

.productcard-wrapper .sold {
  font-size: 0.8rem;
  color: #777777;
  font-weight: 500;
}

.productcard-wrapper .img-wrapper {
  position: relative;
}

.productcard-wrapper .favourite {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center; /* aligns horizontally */
  align-items: center; /* aligns vertically */
}

.productcard-wrapper .favourite .icon {
  color: white;
  padding-left: 7px;
}

.productcard-wrapper .card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
