.navbar-wrapper .navbar {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  position: relative;
  /* z-index: 9999; */
  background-color: #ffffff;
}

.navbar-wrapper .navbar-brand {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-wrapper .nav-link {
  border-radius: 5px !important;
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}

.navbar-wrapper .nav-link-icon {
  font-size: 20px;
}

.navbar-wrapper .nav-link-size {
  width: 3rem;
  text-align: center;
}

.navbar-wrapper .nav-link:hover {
  background-color: #dddddd6e;
  border-radius: 5px !important;
  font-weight: 700;
}

.navbar-wrapper .search-icon {
  border-radius: 50px 0px 0px 50px !important;
  background-color: #efefef !important;
  /* background-color: #f5f4f4 !important; */
}

.navbar-wrapper .search-input {
  background-color: #efefef !important;
  /* background-color: #f5f4f4 !important; */
  border: none;
  border-radius: 0px 50px 50px 0px !important;
  text-transform: capitalize;
  font-size: 14px;
}

.navbar-wrapper .search-group {
  width: 15rem;
  margin-top: 2.5px;
}

.navbar-wrapper .search-results {
  position: absolute;
  top: 146%;
  right: 0;
  background-color: white;
  padding: 2rem;
  padding-top: 2.5rem;
  z-index: 9999;
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px !important;

  height: calc(100vh - 70px);
  overflow-y: auto;
}

.navbar-wrapper .search-results .row:hover {
  transition: 0.5s ease;
  transform: translateX(10px);
  border-radius: 5px;
}

.navbar-wrapper .header {
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  left: 2rem;
  top: 1rem;
}

.navbar-wrapper .search-result-img {
  width: 100px;
  border-radius: 5px;
  object-fit: cover;
  height: 100px;
}

.navbar-wrapper .search-result-item-title {
  color: #000000;
  font-weight: 500;
}

.navbar-wrapper .search-result-item-category {
  color: #9e3500;
}

.navbar-wrapper .search-result-item-price {
  color: #000000;
}

.navbar-wrapper .cart-quantity {
  font-size: 0.7rem;
  text-decoration: none;
  font-weight: 700;
  left: 33px;
  background-color: #0071ae;
}

.navbar-wrapper .favourite {
  font-size: 0.7rem;
  text-decoration: none;
  font-weight: 700;
  left: 35px;
  color: #000000;
  background-color: var(--cheese);
}

.navbar-wrapper .profile-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #6a6662;
}

@media (max-width: 767px) {
  /* Styles for mobile devices */
  .navbar-wrapper .mobile-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    font-weight: 800;
    width: 45vw;
    justify-content: space-between;
    border: 1px solid red;
  }

  .navbar-wrapper .mobile-navbar .search {
    font-size: 18px;
    margin-right: 1px;
    margin-top: 13px;
  }

  .navbar-wrapper .mobile-search-navbar {
    height: 70px;
    position: absolute;
    top: 0;
    z-index: 12;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #ffffff;
  }

  .navbar-wrapper .mobile-search-navbar .search-group {
    width: 72vw;
  }

  .navbar-wrapper .mobile-search-navbar .close {
    font-size: 1.8rem;
    padding-top: 5px;
  }

  .navbar-wrapper .mobile-navbar .cart-quantity {
    top: -3px;
    left: 25px;
    font-size: 10px;
  }

  .navbar-wrapper .mobile-navbar .favourite {
    top: -3px;
    left: 22px;
    font-size: 10px;
    font-weight: 800;
  }
  .navbar-wrapper .navbar {
    z-index: 10 !important;
  }

  .navbar-wrapper .navbar .navbar-toggler {
    font-size: 1rem;
    border: none;
    filter: grayscale(100%);
    padding: 0;
  }

  .navbar-wrapper .navbar .nav-item {
    padding: 0px !important;
    margin: auto;
  }

  .navbar-wrapper .navbar-collapse {
    background-color: #ffffff !important;
    position: absolute;
    left: 0;
    width: 100.1%;
    top: 8.4vh;
  }

  .navbar-wrapper .navbar .input-group-wrapper {
    display: flex;
    justify-content: center;
  }

  .navbar-wrapper .navbar .search-group,
  .navbar-wrapper .navbar .dropdown-menu {
    width: 92vw !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    text-align: center;
  }

  .navbar-wrapper .header {
    position: unset;
    text-align: center;
    transform: translateY(-1rem);
  }

  .navbar-wrapper .search-group {
    margin-top: 2.5px;
  }

  .navbar-wrapper .search-results {
    position: absolute;
    width: 100%;
    top: 4.5rem;
  }

  .navbar-wrapper .result-container {
    margin-bottom: 1rem;
  }

  .navbar-wrapper .search-result-img {
    width: 80px;
    height: 80px;
  }

  .navbar-wrapper .search-result-item-title {
    color: #000000;
    font-weight: 500;
    margin-top: 5px;
  }

  .navbar-wrapper .search-result-item-category {
    color: #9e3500;
  }

  .navbar-wrapper .search-result-item-price {
    color: #000000;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
}
