.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.724); */
  background-color: #000000;
  /* background-color: #000000; */
  z-index: 9999;
  color: #ffffff;
}
