.product-wrapper {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  height: 100%;
  min-height: calc(100vh - 70px);
}

.product-wrapper .product-store-info {
  margin-bottom: 1rem;
}

.product-wrapper .breadcrumb-item {
  text-decoration: none;
  color: #000000;
}

.product-wrapper .breadcrumb-item:first-child {
  text-decoration: none;
  color: #00000084;
}

.product-wrapper .product-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 2.5rem;
}

.product-wrapper .product-price {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  color: #9e3500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.product-wrapper .original-price {
  margin-left: 10px;
  color: #000000;
  text-decoration: line-through;
  text-transform: uppercase;
}

.product-wrapper .discount-tag {
  /* background-color: #ff0000; */
  background-color: #0071ae;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 10px;
  border-radius: 5px;
  font-style: italic;
}

.product-wrapper .stock-status-low {
  /* background-color: #ff7300; */
  background-color: #00000083;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 10px;
  border-radius: 5px;
  font-style: italic;
  text-transform: uppercase;
}

.product-wrapper .stock-status-none {
  background-color: #00000055;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 10px;
  border-radius: 5px;
  font-style: italic;
}

.product-wrapper .img-gallery .col-md-6 {
  padding: 2px;
}

.product-wrapper .product-shop-name {
  border-radius: 50px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4rem;
  font-weight: 600;
  background-color: #000000;
  font-size: 0.8rem;
}

.product-wrapper .product-description {
  margin-top: 0.8rem;
}

.select-size-label {
  margin-right: 1rem;
}

.product-wrapper input[type="radio"] {
  display: none;
}

.product-wrapper input[type="radio"] + label {
  display: inline-flex;
  padding: 20px 12px;
  margin-top: 0.5rem;
  margin-right: 0.3rem;
  border: 1.5px solid #ddd;
  height: 3rem;
  width: 4.6rem;
  text-align: center;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.product-wrapper input[type="radio"] + label:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
  border: 1.5px solid #000000;
}

.product-wrapper input[type="radio"]:checked + label {
  border: 1.5px solid #000000;
}

.product-wrapper .size-info {
  font-weight: 500;
  margin-top: 1rem;
}

.product-wrapper .left-wrapper {
  border: 1px solid #eceff1;
}

.product-wrapper .accordion-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.product-wrapper .accordion-header button {
  font-weight: 600 !important;
}

.product-wrapper .accordion-item-review {
  position: absolute;
  right: 7%;
}

.product-wrapper .right-wrapper {
  position: sticky;
  top: 25px;
  height: 100%;
}

.product-wrapper .store-img {
  width: 25px;
  height: 25px;
}

.product-wrapper .product-img-container {
  overflow: hidden;
}

.product-wrapper .product-img:hover {
  transition: transform 1s ease-in-out;
  transform: scale(1.2);
  cursor: zoom-in;
}

.product-wrapper .review-sub-title {
  font-weight: 500;
}

.product-wrapper .review-title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  /* Styles for mobile devices */

  .product-wrapper .product-title {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 2.5rem;
  }

  .product-wrapper .right-wrapper {
    position: relative;
    margin-bottom: 3rem;
  }

  .product-wrapper input[type="radio"] + label {
    display: inline-flex;
    padding: 20px 12px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border: 1.5px solid #ddd;
    height: 1rem;
    width: 4rem;
  }

  .product-wrapper .accordion-item-review {
    margin-right: 1.5rem;
  }

  .product-wrapper .total-reviews-wrapper {
    text-align: center;
    margin-bottom: 1rem;
  }
}
