.products-wrapper {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  height: 100%;
  min-height: calc(100vh - 70px);
}

.products-wrapper .breadcrumb-item {
  text-decoration: none;
  color: #000000;
}

.products-wrapper .breadcrumb-item:first-child {
  text-decoration: none;
  color: #00000084;
}

.products-wrapper .applied-filter {
  display: flex;
  flex-wrap: wrap;
}

.products-wrapper .filter-badge {
  color: #000000;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-family: var(--font-poppins);
  margin-right: 0.5rem;
  font-weight: 500;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  margin-left: 0.6rem;
  text-transform: capitalize;
  margin-bottom: 15px;
  min-width: 5rem;
  text-align: center;
}

.products-wrapper .filter-badge:hover {
  cursor: pointer;
}

.products-wrapper .btn-sort {
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-size: 1rem;
  min-width: 7rem;
}

.products-wrapper .product-listing .col-md-4 {
  margin-bottom: 2rem;
}

.products-wrapper .accordion-item {
  /* border-color: black; */
}
